<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<!--
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
-->	
	<!-- Spring SessionFactory -->

	<bean id="hr_dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"  			 value="jdbc:sqlserver://TWN-EHRDB-1:1433;useUnicode=true;characterEncoding=UTF-8;databaseName=hrm" />
		<property name="username" 		 value="hrmforsqs" />
		<property name="password" 		 value="rrwx4d" />
	</bean>
	
	<bean id="hr_sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		destroy-method="destroy">
		<property name="dataSource" ref="hr_dataSource" />
		<property name="annotatedClasses">
			<list>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					<!-- org.hibernate.dialect.SQLServerDialect -->
					tw.com.prodisc.util.UnicodeSQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!--  
					create      : 会根据你的model类来生成表,但是每次运行都会删除上一次的表,重新生成表,哪怕2次没有任何改变 
					create-drop : 根据model类生成表,但是sessionFactory一关闭,表就自动删除 
					update      : 最常用的属性，也根据model类生成表,即使表结构改变了,表中的行仍然存在,不会删除以前的行 
					validate    : 只会和数据库中的表进行比较,不会创建新表,但是会插入新值 				
				-->
			</props>
		</property>
	</bean>
  
	<bean id="hr_hibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="hr_sessionFactory" />
	</bean>
	
	<bean id="hr_hibernateTransactionAttributeSource"
		class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">
		<property name="properties">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

</beans>